<div class="container">

    <div class="titre">
        <h1>KANBRAN LP MIAW</h1>
    </div>

    <div class="search">
        <input type="text" [(ngModel)]="titre" placeholder="Nouvelle colonne"/>
        <button (click)="onAddColonne()">Ajouter</button>   
    </div>

    <div cdkDropList cdkDropListOrientation="horizontal" class="board" (cdkDropListDropped)="drop($event)">
        <app-colonne-comp *ngFor="let colonne of colonnes" [colonne]="colonne" cdkDrag></app-colonne-comp>
    </div>

</div>
